<div class="bg-primary-light-600 dark:bg-neutral-800 offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu"
  aria-labelledby="sidebarMenuLabel">
  <div class="flex p-0 overflow-y-auto offcanvas-body flex-column pt-lg-3">
    <div id="logo">
      <svg class="w-auto h-16 m-auto mt-8 mb-12">
        <use xlink:href="#logo"/>
      </svg>
    </div>
    <ul class="h-auto mt-0 mb-auto nav flex-column">
      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center active" aria-current="page" href="#">
          <svg class="bi">
            <use xlink:href="#house-fill" />
          </svg>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center" href="#">
          <svg class="bi">
            <use xlink:href="#cart" />
          </svg>
          Cursos
        </a>
      </li>
      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center" href="#">
          <svg class="bi">
            <use xlink:href="#people" />
          </svg>
          Estudiantes
        </a>
      </li>
      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center" href="#">
          <svg class="bi">
            <use xlink:href="#file-earmark" />
          </svg>
          Documentación
        </a>
      </li>
    </ul>

    <h4
      class="px-3 mt-4 mb-1 sidebar-heading d-flex justify-content-between align-items-center text-body-secondary text-uppercase">
      <span>Reportes Histórico</span>
    </h4>
    <ul class="h-auto mt-0 mb-auto nav flex-column">
      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center" href="#">
          <svg class="bi">
            <use xlink:href="#graph-up" />
          </svg>
          Año en curso
        </a>
      </li>
      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center" href="#">
          <svg class="bi">
            <use xlink:href="#graph-up" />
          </svg>
          Último Año
        </a>
      </li>
    </ul>
    <hr class="my-3">

    <ul class="h-auto mt-auto mb-6 flex-column m-lg-0 m-sm-0 nav">
      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center" href="#">
          <svg class="bi">
            <use xlink:href="#gear-wide-connected" />
          </svg>
          Configuración
        </a>
      </li>
      <li class="nav-item">
        <a class="gap-2 nav-link d-flex align-items-center" href="#">
          <svg class="bi">
            <use xlink:href="#door-closed" />
          </svg>
          Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</div>