<mat-card class="pb-4 rounded-b-3xl">
  <mat-card-title class="flex flex-col text-black dark:text-white">
    <a routerLink="" id="logo" class="block cursor-pointer">
      <svg class="w-auto h-16 m-auto mt-8 mb-4 dark:fill-white">
        <use xlink:href="#logo" />
      </svg>
    </a>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p class="flex flex-col gap-2">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" extended mat-raised-button color="primary" class="h-16">
          Acceder a la Administración
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
