<div class="bg">
  <div class="flex flex-row items-center gap-2 m-0">
    <span class="material-symbols-outlined"> space_dashboard </span>
    <h4 class="line-clamp-none">Dashboard</h4>
    
    <app-widget-clock></app-widget-clock>
  </div>
  <div style="width: 100%; position: relative; height: 100%; overflow: hidden">
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
