<mat-toolbar class="h-12 site-footer">

<div class="flex flex-row justify-center w-full text-sm item-center">
  <div class="flex flex-row justify-start w-full item-center max-sm:hidden">
    <a href="https://wa.me/59898919286"
      class="flex items-center text-slate-700 dark:text-slate-100 decoration-transparent">
      <svg class="bi">
        <use xlink:href="#whatsapp" />
      </svg>
      <span class="p-2">{{'footer.phone' | translate}}</span>
      <span class="p-2">|</span><span class="p-2">{{'footer.madeWith' | translate}}<span class="text-danger">&hearts;</span> by 
      {{'footer.author' | translate}}</span>
    </a>

  </div>
  <div class="flex flex-row item-center justify-content-end">
    <a class="link-secondary icon facebook" href="#" aria-label="facebook">
      <svg class="bi fill-slate-700 dark:fill-slate-100">
        <use xlink:href="#facebook" />
      </svg>
    </a>
    <a class="link-secondary icon ticktok" href="#" aria-label="TickTok">
      <svg class="bi fill-slate-700 dark:fill-slate-100">
        <use xlink:href="#ticktok" />
      </svg>
    </a>
    <a class="link-secondary icon linkedin" href="#" aria-label="linkedin">
      <svg class="bi fill-slate-700 dark:fill-slate-100">
        <use xlink:href="#linkedin" />
      </svg>
    </a>
  </div>
</div>

</mat-toolbar>