<ng-template [ngIf]="loadingService.isLoading$ | async" [ngIfElse]="content">
  <app-loading></app-loading>
</ng-template>
<ng-template #content>
  <mat-toolbar class="z-30 site-header">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="font-sans fs-1">{{'site.subtitle' | translate}}</span>
    <div class="d-flex">
      <app-themeChange></app-themeChange>
      <app-nav-account></app-nav-account>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="z-20 site-container">
    <mat-sidenav
      #sidenav
      mode="side"
      class="z-30 site-sidenav"
      [fixedInViewport]="options.fixed"
      [opened]="options.opened"
      [fixedTopGap]="options.top"
      [fixedBottomGap]="options.bottom"
    >
      <app-navbar class="navbar"></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content class="z-0">
      <div class="site-content">
        <router-outlet/>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="z-30 h-12 site-footer">
    <app-footer class="w-full"></app-footer>
  </mat-toolbar>
</ng-template>
